<!DOCTYPE html>
<html>
  <head>
    <title>CourseRecords</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= yield %>
    <div>
	<table class="nav">
		<%= link_to 'Courses', courses_path %>
		<%= link_to 'Sections', sections_path %>
	</table>
    </div>
  </body>
</html>
